* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background-color: rgb(212, 217, 228);
  gap: 40px;
}
.background menu {
  background-color: rgb(255, 255, 255);
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 336px;
}
.background menu .sett {
  padding-bottom: 336px;
}
.background menu .logo:hover {
  scale: 1;
  cursor: auto;
}
.background menu img:hover {
  cursor: pointer;
  scale: 1.05;
  transition: all 0.3s ease;
}
.background menu .gr_24 {
  border: none;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 19px 31px 0px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}
.background menu .gr_24 img {
  padding: 24px;
}
.background menu .gr_24:hover {
  scale: 1.05;
}
.background menu:nth-child(1) {
  padding: 30px 30px 10px 47px;
}
.background .container {
  max-width: 905px;
  margin: 0 auto;
}
.background .container header {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding-top: 40px;
  padding-bottom: 30px;
}
.background .container header form {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
.background .container header form input {
  padding: 13px 470px 13px 15px;
  border: none;
  outline: none;
  border-radius: 10px;
}
.background .container header .px_24 {
  color: black;
  font-size: 23px;
  font-weight: 600;
  line-height: 26.22px;
  white-space: nowrap;
}
.background .container section {
  position: relative;
}
.background .container section .capitane {
  position: absolute;
  bottom: 16px;
  right: 20px;
}
.background .container section .px_15 {
  font-family: Linux Libertine;
  font-size: 15px;
  font-weight: 700;
  line-height: 17.1px;
  letter-spacing: 0.05em;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #F4F5FA;
  position: absolute;
  top: 58px;
  left: 68px;
  text-transform: uppercase;
}
.background .container section .px_46 {
  width: 404px;
  font-size: 46px;
  font-weight: 700;
  line-height: 52.45px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #F4F5FA;
  position: absolute;
  top: 87px;
  left: 68px;
}
.background .container section button {
  display: flex;
  gap: 16px;
  padding: 16px 25px;
  border-radius: 10px;
  background-color: #5E8DEA;
  cursor: pointer;
  border: none;
  font-size: 19px;
  font-weight: 700;
  line-height: 22.8px;
  text-align: left;
  color: #F4F5FA;
  position: absolute;
  top: 213px;
  left: 69px;
}
.background .container section button:hover {
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #1b57d0;
  scale: 1.001;
}
.background .container main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding-top: 28px;
}
.background .container main .category .px_23 {
  padding-bottom: 38px;
  font-family: Linux Libertine;
  font-size: 23px;
  font-weight: 600;
  line-height: 26.22px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #050729;
}
.background .container main .category .adventure {
  width: 285px;
  font-size: 15px;
  font-weight: 600;
  line-height: 17.1px;
  text-align: left;
  color: #9394A5;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 16px 200px 16px 16px;
  border-radius: 10px;
  border: none;
  margin-bottom: 15px;
}
.background .container main .category .adventure:focus {
  color: #050729;
  box-shadow: 2px 19px 31px 0px rgba(0, 0, 0, 0.1019607843);
}
.background .container main .category .adventure:hover {
  cursor: pointer;
}
.background .container main .download {
  display: flex;
  gap: 20px;
  padding: 6px 0 15px 0;
}
.background .container main .download .stars {
  padding-left: 15px;
}
.background .container main .downloading {
  border-radius: 10px;
  background-color: #5E8DEA;
  padding: 8px 100px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  margin-left: 15px;
}
.background .container main .downloading:hover {
  background-color: #1b57d0;
  cursor: pointer;
  transition: all 0.3s ease;
}
.background .container main .subway {
  background-color: rgb(255, 255, 255);
  -webkit-backdrop-filter: blur(281px);
          backdrop-filter: blur(281px);
  border-radius: 10px;
}
.background .container main .subway .surfers:hover {
  scale: 1.007;
  cursor: pointer;
  transition: all 0.3s ease;
}
.background .container main .subway .px_15 {
  padding-top: 15px;
  font-size: 15px;
  font-weight: 600;
  line-height: 17.1px;
  padding-left: 15px;
  color: #050729;
}
.background .container_2 {
  max-width: 1215px;
  margin: 0 auto;
}
.background .container_2 footer {
  padding-bottom: 40px;
}
.background .container_2 footer .px_23 {
  padding: 16px 0 23px 0;
}
.background .container_2 footer .footer {
  padding: 25px 25px 25px 25px;
  border: 2px solid rgba(255, 255, 255, 0.1019607843);
  border-radius: 10px;
  background-color: #FFFFFF;
  display: flex;
  gap: 27px;
  justify-content: center;
  align-items: center;
}
.background .container_2 footer .footer .ludo {
  display: flex;
  gap: 15px;
}
.background .container_2 footer .footer .line .loadin_speed {
  display: flex;
  gap: 570px;
}
.background .container_2 footer .footer .buttons {
  display: flex;
  gap: 17px;
}
.background .container_2 footer .footer .buttons button {
  border-radius: 10px;
  border: 0.5px solid rgba(94, 141, 234, 0.3019607843);
  padding: 10px 20px;
  border: none;
  color: #050729;
  border-color: rgba(94, 141, 234, 0.3019607843);
}
.background .container_2 footer .footer .buttons button:hover {
  background-color: #d5e0f0;
  cursor: pointer;
  transition: all 0.3s ease;
}
.background aside {
  padding-top: 43px;
  position: fixed;
  right: 40px;
  height: 100vh;
  top: 0;
  right: 40px;
}
.background aside .sohag {
  display: flex;
  gap: 37px;
  align-items: center;
  justify-content: center;
}
.background aside .sohag .notes {
  display: flex;
  gap: 16px;
}
.background aside .sohag .notes button {
  padding: 12px;
  border: none;
  border-radius: 10px;
  background-color: #FFFFFF;
}
.background aside .history {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 39px;
  padding-top: 29px;
  padding-bottom: 25px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  -webkit-backdrop-filter: blur(281px);
          backdrop-filter: blur(281px);
}
.background aside .history .experience {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19px;
}
.background aside .history button {
  padding: 8px 12px;
  color: rgb(94, 141, 234);
  font-family: Linux Libertine;
  font-size: 10px;
  font-weight: 400;
  line-height: 11.4px;
  border-radius: 10px;
  border: none;
  background-color: rgb(250, 249, 254);
}
.background aside .history button:hover {
  background-color: #d5e0f0;
  cursor: pointer;
}
.background aside .download {
  display: flex;
  gap: 20px;
  padding: 6px 0 15px 0;
}
.background aside .download .stars {
  padding-left: 15px;
}
.background aside .downloading {
  border-radius: 10px;
  background-color: #5E8DEA;
  padding: 8px 100px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  margin-left: 15px;
}
.background aside .downloading:hover {
  background-color: #1b57d0;
  cursor: pointer;
  transition: all 0.3s ease;
}
.background aside .subway {
  background-color: rgb(255, 255, 255);
  -webkit-backdrop-filter: blur(281px);
          backdrop-filter: blur(281px);
  border-radius: 10px;
  padding-bottom: 30px;
  margin-top: 25px;
}
.background aside .subway .surfers:hover {
  scale: 1.007;
  cursor: pointer;
  transition: all 0.3s ease;
}
.background aside .subway .px_15 {
  padding-top: 15px;
  font-size: 15px;
  font-weight: 600;
  line-height: 17.1px;
  padding-left: 15px;
  color: #050729;
}/*# sourceMappingURL=style.css.map */